<div style="height: 400px; border-radius: 0px; border: 1px solid #ccc" ng-controller="f1StudioController as f1Ctrl">
  <div class="panel-body">
    <div class="pd-20">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <label style="font-size: 12px;"> Personal Boards </label>
    </div>
    <div class="row mgl-20">
        <div class="col-md-3" style="border: 1px solid #ccc; height: 100px; width: 250px; background-color: #33b7b1; cursor: pointer;"
                ng-click="f1Ctrl.onBoardClick()">
            <label style="color: #fff; padding: 5px;">Welcome Board</label>
        </div>
        <div class="col-md-3 text-center" style="border: 1px solid #ccc; height: 100px; width: 250px; margin-left: 10px; background-color: #ccc">
            Create New Board
        </div>
    </div>
    <div class="pd-20">
        <a href="" style="color: #777070">Create a new team...</a>
    </div>
  </div>
</div>